body {
    margin: 0;
}

#header {
	background-color: #72A3A8;
	height: 700px;
	min-height: 500px;
	width: 100%;
	text-align: center;
	background-image: linear-gradient(#72A3A8, #A8BBB3);
	margin-bottom: 0;
	height: 100vh;
    width: 100vw;
}

.banner {
	position: relative;
	height: 100%;
	color: #E7D5BC;
}

.name-display {
	display: inline-block;
	vertical-align: middle;
}

.banner-display {
	margin: 1.5rem auto;
}

.underline {
	margin-bottom: 15px;
	margin-top: 15px;
	
}

.underline:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 60%; /* Change this to whatever width you want. */
    padding-top: 5px; /* This creates some space between the element and the border. */
    border-bottom: 1.5px solid #E7D5BC;
}

.head-display {
	position: relative;
	top: 15%;
}

#icon {
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	height:100%;
}

.prof-pic {
	border-radius: 50%;
	width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1rem;
}

h2 {
	text-align: center;
	margin-bottom: 2rem;
}

.btn {
	margin-top: 1rem;
	padding: 0.5rem 1.5rem;
}

.content {
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	border-bottom: 0.5px solid #bdbdbd;
}

.date-text {
	color: #bbbbbb;
	font-weight: 300;
}

.skill {
	border-bottom: none;
}

.fab {
	max-width: 100%;
	color: inherit;
}

.rice-logo {
	width: 250px;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.skill-icon {
	display: block;
	height: 100px;
	line-height: 60px;
	border-radius: 60px;
	color: #72A3A8;
	margin: 1rem auto;
	font-family: 'Muli', bold;
}

.skill-icon i {
	text-align: center;
	display: inline-block;
	width: 100%;
	padding-top: 20%; 
}

.font-logo {
	font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding-top: 10%;
}

.contact {
	background-image: linear-gradient(#A8BBB3, #72A3A8);
	width: 100%;
	padding: 1rem;
	text-align: center;
	color: #E7D5BC;
}

.contact a {
	color: inherit;
}

.contact a:hover {
	color: #E0A490;
}

@media (max-width: 767px) {
	.head-display {
		top: 10%;
	}

	.content {
		text-align: center;
	}

	.offset-md-5 .btn {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.skill-icon {
		margin: 0.25rem auto;
	}

	.skill-icon .fab {
		font-size: 2rem;
	}

}
